@import '../../../styles/variables';

.content {
  &.make-a-payment-content {
    padding-left: 108px;
    padding-top: 100px;
    background-color: $bg-gray;
    height: 100vh;
    max-height: 100vh;
    .btn.btn-primary {
      font-weight: bold;
      font-size: 14px;
      color: $font-black !important;
      border-color: $border-gray !important;
      background-color: $green !important;
      padding: 10px 44px;
      border-radius: 29px;
      white-space: nowrap;
      &.inactive {
        background-color: $white !important;
      }
      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem rgba($color: $green, $alpha: 0.5) !important;
      }
    }
    .btn.btn-secondary {
      font-weight: bold;
      font-size: 14px;
      color: $dark-green !important;
      border-color: $green !important;
      background-color: $white !important;
      padding: 10px 44px;
      border-radius: 29px;
      white-space: nowrap;
      &.inactive {
        background-color: $bg-gray !important;
      }
      &:not(:disabled):not(.disabled):active:focus {
        box-shadow: 0 0 0 0.2rem rgba($color: $bg-gray, $alpha: 0.5) !important;
      }
    }
    
    .btn-link {
      color: $dark-green;
      text-decoration: underline;
      font-weight: bold;
      font-size: 16px;
      line-height: 19px;
      text-align: center;
      width: 224px;
      height: 48px;
    }

    .mains {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      .form-col {
        & > .modal-dialog.flex-dialog {
          .modal-header {
            justify-content: space-between;
          }
          .modal-body {
            padding: 0 35px;
            overflow-x: hidden;
          }
          .modal-footer {
            .delete-data {
              color: $red;
            }
          }
        }
      }
    }
  }
}

@media (max-width: $min-desktop-width) {
  .content {
    &.make-a-payment-content {
      .mains {
        .form-col {
          flex: 0 0 100%;
          max-width: 100%;
        }
        .modal-dialog {
          .modal-content {
            .modal-header {
              .show-important-information-wrapper {
                flex-grow: 1;
                display: flex;
                justify-content: flex-end;
              }
            }
            .action-bar {
              .right-actions {
                margin-top: 24px;
                justify-content: center;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $max-tablet-width) {
  .make-a-payment-success-modal {
    .modal-footer {
      > div {
        display: flex;
      }
    }
  }
  .content {
    &.make-a-payment-content {
      .mains {
        .form-col {
          > .modal-dialog {
            .modal-content {
              .modal-body {
                padding: 0 20px !important;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $max-mobile-width) {
  .content {
    &.make-a-payment-content {
      padding-top: 63px;
      padding-left: 0;
      .mains {
        .modal-dialog {
          .modal-content {
            border-radius: 0;
            border: none;
            .base-form {
              padding: 0;
            }
            .action-bar {
              padding: 20px 35px;
              padding-bottom: 0;
            }
            .modal-header {
              position: fixed;
              top: 20px;
              padding: 0;
              left: 62px;
              z-index: 2001;
              color: $white;
              border-bottom: none;
              > img {
                display: none;
              }
              .show-important-information {
                margin-left: 38px;
                &.step-info {
                  margin-top: -10px;
                }
              }
            }
          }
        }
      }
    }
  }
}
