@import '../../../../styles/_variables.scss';

.manage-standing-orders-create-info {
  flex: 0 0 322px;
  max-width: 322px;
  margin-left: 20px;
  box-shadow: 0 5px 12px $shadow-gray;
  border-radius: 6px;
  background-color: $white;
  padding: 23px 17px;
  overflow: auto;
  .gray-inner {
    background-color: $bg-gray;
    padding: 25px 20px;
    .title {
      color: $font-black;
      font-size: 14px;
      font-weight: 700;
      line-height: 24px;
      margin-bottom: 23px;
      .icon-info {
        width: 14px;
        height: 14px;
        margin-right: 7px;
        @include blue-info;
      }
    }
    .txt {
      color: $font-black;
      font-size: 12px;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
/* fix layout issue when smaller than 1023px width */
@media (max-width: $min-desktop-width) {
  .manage-standing-orders-create-info {
    flex: 1;
    max-width: none;
    margin-left: 0;
    margin-top: 15px;
    .gray-inner {
      min-height: 230px;
    }
  }
}
/* fix layout issue when smaller than 768px width */
@media (max-width: $smaller-desktop-width) {
  .manage-standing-orders-create-info {
    margin: 15px 10px;
  }
}
