@import '../../../styles/_variables.scss';

.contact-rm-right-appointment {
  height: 100%;
  flex: 1 1;
  margin-left: 24px;
  box-shadow: 0 5px 12px $shadow-gray;
  border-radius: 6px;
  background-color: $white;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  // .book-appointment
  .book-appointment {
    .line-title {
      margin-bottom: 25px;
      padding-left: 0;
      padding: 25px 33px;

      .icons {
        &.icon-back {
          width: 24px;
          height: 24px;
          @include icon-line-back;
          margin-right: 10px;
          }
        }
        .rights {
          .green-txt-btn {
            color: #07A792;
              font-size: 16px;
              width: 104px;
              height: 22px;
              font-weight: 700;
              padding: 2px 15px;
              text-decoration: none;
            }
        }
    }
    .step-module {
      padding: 25px 33px;
    }
  }
}

/* fix layout issue when smaller than 1182px width */
@media (max-width: $smaller-desktop-width) {
    .contact-rm-right-appointment {
        margin-left: 0;
        .appointment-module {
        }
    }
}
/* fix layout issue when smaller than 768px width */
@media (max-width: $max-tablet-width) {
  .contact-rm-right-appointment {
    margin-left: 0;
  }
}