@import '../../../styles/_variables.scss';

.contact-rm-right-appointment {
  height: 100%;
  flex: 1 1;
  margin-left: 24px;
  box-shadow: 0 5px 12px $shadow-gray;
  border-radius: 6px;
  background-color: $white;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  // .appointment-module 
  .appointment-module {
    .module-content {
        padding: 18px 40px;
        .gray-no-found {
            height: 691px;
            border-radius: 6px;
            background-color: #f9f9f9;
            opacity: 1;
            display: flex;
            align-items: center;
            justify-content: center;
            .icon-app {
                @include icon-app;
                width: 30px;
                height: 30px;
                margin-bottom: 10px;
            }
            .center-txt {
                text-align: center;
            }
            .txt {
                color: #003d4c;
                font-size: 14px;
                font-weight: 400;
                line-height: 22px;
                max-width: 367px;
            }
        }
    }
    .existing-app-list {
        .titles {
            color: #003d4c;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
        }
        .txt {
            color: #003d4c;
            font-size: 14px;
            font-weight: 400;
            letter-spacing: 0.42px;
            line-height: 24px;
        }
        .title-bar {
            padding: 20px 0;
            .titles {
                margin-bottom: 4px;
            }
        }
        .app-border-list {
            .border-boxs {
                border-radius: 6px;
                border: 1px solid #d3d3d3;
                background-color: #ffffff;
                padding: 25px;
                margin-bottom: 15px;
                .lefts {
                    align-items: flex-start;
                    flex: 1;
                    .icon-calender {
                        @include icon-border-calender;
                        background-size: 31px 34px;
                        width: 31px;
                        height: 34px;
                        text-align: center;
                        flex: 0 0 34px;
                        max-width: 34px;
                        margin-right: 23px;
                    }
                    .date-number {
                        font-size: 14px;
                        font-weight: 700;
                        line-height: 15px;
                        color: #003d4c;
                        margin-top: 6px;
                    }
                    .little-txt {
                        font-size: 8px;
                        line-height: 10px;
                        color: #003d4c;
                    }
                    .right-txt {
                        flex: 1;
                        .gray-txt {
                            color: #7f9ea5;
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                    .three-area {
                        margin-top: 10px;
                        display: flex;
                        flex-wrap: wrap;
                        .items {
                            flex: 0 0 33.3333333%;
                            max-width: 33.33333333%;
                            min-width: 135px;
                            margin-bottom: 8px;
                            .label-txt {
                                opacity: 0.5;
                                color: #003d4c;
                                font-size: 10px;
                                font-weight: 600;
                                text-transform: uppercase;
                            }
                            .values {
                                color: #003d4c;
                                font-size: 14px;
                                font-weight: 500;
                                line-height: 18px;
                            }
                        }
                    }
                }
                .rights {
                    flex: 0 0 267px;
                    max-width: 267px;
                    display: flex;
                    flex-direction: column;
                    align-items: flex-end;
                    .top-box {
                      margin-bottom: 24px;
                        .txt {
                            opacity: 0.75;
                            color: #114b55;
                            font-size: 10px;
                            font-weight: 700;
                            text-align: right;
                            display: inline-block;
                        }
                        &.text-right {
                            text-align: right;
                            .txt {
                                margin-right: 0;
                            }
                        }
                        .btn-close {
                            @include icon-x-circle;
                            width: 18px;
                            height: 18px;
                            margin-left: 15px;
                            flex: 0 0 18px;
                            max-width: 18px;
                        }
                        .blue-txt {
                            color: #114b55;
                            font-size: 10px;
                            font-weight: 700;
                            margin-left: 5px;
                        }
                        .icons {
                            position: relative;
                            &.clickable {
                                &:hover {
                                    cursor: pointer;
                                    .black-panel {
                                        display: block;
                                    }
                                }
                            }
                        }
                        .black-panel {
                            display: none;
                            position: absolute;
                            box-shadow: 0 3px 6px #dde1e6;
                            background-color: #132f41;
                            padding: 7px 15px;
                            border-radius: 3px;
                            color: #ffffff;
                            font-size: 12px;
                            font-weight: 400;
                            font-style: normal;
                            letter-spacing: 0.11px;
                            top: -44px;
                            left: -32px;
                            &.w150 {
                                width: 150px;
                                left: -72px;
                            }
                            &.w72 {
                                width: 72px;
                            }
                            &:before {
                                content: '';
                                position: absolute;
                                left: 50%;
                                bottom: -5px;
                                margin-left: 0;
                                width: 0;
                                height: 0;
                                border-left: 5px solid transparent;
                                border-right: 5px solid transparent;
                                border-top: 6px solid #132f41;
                            }
                        }
                        .icon-done {
                            @include icon-green-done;
                            width: 16px;
                            height: 16px;
                            flex: 0 0 16px;
                            max-width: 16px;
                        }
                        .icon-rejected {
                            @include icon-slash;
                            width: 16px;
                            height: 16px;
                            margin-right: 5px;
                            opacity: 1;
                        }
                        .icon-trash {
                            @include icon-trash;
                            width: 16px;
                            height: 18px;
                            margin-left: 10px;
                        }
                        .gray-block {
                            background-color: #f9f9f9;
                            padding: 8px 12px;
                            .left-area {
                                align-items: flex-start;
                                margin-right: 25px;
                                .icon-clock {
                                    width: 15px;
                                    height: 15px;
                                    flex: 0 0 15px;
                                    max-width: 15px;
                                    @include icon-clock;
                                    margin-top: 2px;
                                    margin-right: 5px;
                                    background-size: 15px 15px;
                                }
                                .txt-area {
                                    .bold-title {
                                        color: #003d4c;
                                        font-size: 10px;
                                        font-weight: 700;
                                    }
                                    .thin-txt {
                                        color: #7f9ea5;
                                        font-size: 12px;
                                        font-weight: 600;
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
  }
}
  
/* fix layout issue when smaller than 1182px width */
@media (max-width: $smaller-desktop-width) {
    .contact-rm-right-appointment {
        margin-left: 0;
        .appointment-module {
            .existing-app-list {
                .app-border-list {
                    .border-boxs {
                        flex-direction: column;
                        align-items: flex-start;
                        .rights {
                            flex: 0 0 auto;
                            padding-left: 60px;
                            padding-top: 20px;
                            align-items: flex-start;
                            max-width: none;
                        }
                    }
                }
            }
        }
    }
}
/* fix layout issue when smaller than 768px width */
@media (max-width: $max-tablet-width) {
  .contact-rm-right-appointment {
    margin-left: 0;
  }
}