@import '../../../styles/_variables.scss';

.book-appointment-left-bar {
  box-shadow: 0 5px 12px $shadow-gray;
  border-radius: 6px;
  background-color: $white;
  padding: 34px 20px 14px 20px;
  flex: 0 0 322px;
  max-width: 322px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto;
  .center-boxs {
    flex: 1;
    .user-module {
        display: flex;
        .left-img {
            flex: 0 0 100px;
            max-width: 100px;
            width: 100px;
            height: 100px;
            border-radius: 100%;
            position: relative;
            margin-right: 16px;
            .state-point {
                width: 17px;
                height: 17px;
                border: 2px solid $white;
                position: absolute;
                top: 6px;
                right: 6px;
                border-radius: 100%;
                &.green {
                    background-color: #00d1b6;//#1ec600
                }
                &.red {
                    @include icon-red-point;
                    border: 0;
                }
                &.gray {
                    background-color: #979797;
                }
            }
            img {
                width: 100%;
                height: auto;
                border-radius: 100%;
            }
        }
        .rights {
            .names {
                color: $dark-black;
                font-size: 20px;
                font-weight: 700;
                line-height: 24px;
            }
            .role-txt {
                color: $dark-black;
                font-size: 16px;
                font-weight: 400;
                line-height: 19px;
                margin: 4px 0 0;
                word-break: break-all;
            }
            .state-txt {
                color: $light-gray;
                font-size: 14px;
                font-weight: 400;
                line-height: 19px;
                margin: 4px 0 0;
                word-break: break-all;
            }
            .start-list {
                li {
                    display: inline-block;
                    vertical-align: middle;
                    margin-right: 4px;
                    .icon-star-green {
                        @include icon-star-green;
                        display: inline-block;
                        width: 14px;
                        height: 13px;
                    }
                    .icon-star-gray {
                        @include icon-star-gray;
                        display: inline-block;
                        width: 14px;
                        height: 13px;
                    }
                }
            }
        }
    }
    .imformation-box {
      color: #001f26;
      font-size: 14px;
      font-weight: 400;
      line-height: 22px;
      position: relative;
      padding-top: 18px;
      padding-bottom: 40px;
      .title {
        color: #003D4C;
        font-family: Open Sans;
        font-size: 32px;
        font-weight: bold;
        line-height: 32px;
      }
      .icon-info {
        @include icon-alert-circle;
        width: 20px;
        height: 20px;
        display: block;
        margin-top: 2px;
      }
      .imformation-txt {
        font-family: Open Sans;
        font-size: 24px;
        font-weight: normal;
        line-height: 32px;
        color: #003D4C;
      }
    }
    .tab-list {
      li {
        margin-bottom: 5px;
      }
      .tab-bar {
        display: block;
        padding: 13px 16px;
        border-radius: 4px;
        color: $dark-green;
        font-size: 14px;
        font-weight: 700;
        &.current {
          color: $dark-black;
          background-color: $gray-block;
        }
      }
    }
    .today-boxs {
      border-top: 1px solid #ededed;
      margin-top: 15px;
      padding-top: 21px;
      .today-txt {
        color: #001f26;
        font-size: 14px;
        font-weight: 700;
        margin-bottom: 20px;
        text-transform: uppercase;
      }
      .blue-border-btn {
        display: inline-block;
        vertical-align: middle;
        border-radius: 13px;
        border: 2px solid $dark-blue;
        color: $dark-blue;
        font-size: 12px;
        font-weight: 700;
        margin-right: 5px;
        padding: 2px 18px;
        background-color: rgba(255, 255, 255, 0);
        margin-bottom: 15px;
      }
    }
  }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $smaller-desktop-width) {
  .book-appointment-left-bar {
    margin-right: 15px;
    margin-bottom: 15px;
  }
}
/* fix layout issue when smaller than 768px width */
@media (max-width: $min-desktop-width) {
  .book-appointment-left-bar {
    flex: 0 0 100%;
    max-width: 100%;
    margin-right: 0;
  }
}
