@import '../../../styles/_variables.scss';

.white-card-panel {
  margin-right: 23px;
  min-height: 155px;
  max-width: 305px;
  border-radius: 8px;
  background-color: $gray-block;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 3px 16px 16px 16px;
  flex: 1;
  &:hover {
    cursor: pointer;
  }
  &:last-child {
    margin-right: 0;
  }
  .top-circle-bg,
  .bottom-trans {
    position: absolute;
    z-index: 8;
  }
  .top-circle-bg {
    @include top-circle-bg;
    width: 44px;
    height: 50px;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
  }
  .bottom-trans {
    @include account-trans;
    width: 153px;
    height: 97px;
    bottom: 0;
    right: 0;
    border-bottom-right-radius: 10px;
  }
  &.current {
    box-shadow: 0 5px 12px rgba(0, 0, 0, 0.07);
    background-color: $gray-block;
    max-width: none;
    opacity: 1;
    &:after {
      content: '';
      display: block;
      position: absolute;
      bottom: -15px;
      left: 50%;
      margin-left: -30px;
      width: 60px;
      background-color: $font-black;
      height: 8px;
      border-radius: 5px;
      border: 1px solid $font-black;
      box-shadow: 0 0 0 0.5px inset $white;
    }
  }
  &.gray {
    background-color: $df-gray;
  }
  
  .bold-txt {
    font-size: 14px;
    font-weight: 700;
    color: $font-black;
  }

  .top-area {
    .imgs {
      flex: 0 0 44px;
      max-width: 44px;
      width: 44px;
      height: auto;
      img {
        width: 100%;
      }
    }
  }
  .bottom-txt {
    .price-txt {
      color: $dark-green;
      font-size: 20px;
      font-weight: 700;
      text-align: left;
      .overdraft {
        color: $font-black;
        font-size: 16px;
      }
    }
    &.mt-40 {
      margin-bottom: 30px;
    }
    .bottom-close {
      justify-content: flex-start;
      .lefts {
        text-transform: uppercase;
        color: $dark-black;
        font-size: 12px;
        font-weight: 600;
        margin-left: 20px;
      }
      .red-block {
        min-width: 60px;
        line-height: 20px;
        border-radius: 3px;
        background-color: $dark-red;
        color: $white;
        font-size: 12px;
        font-weight: 600;
        text-align: center;
      }
    }
  }
}

.right-point {
    position: absolute;
    right: 8px;
    top: 8px;
    width: 26px;
    height: 26px;
    border-radius: 100%;
    background-color: #234a5e;
    color: $white;
    text-align: center;
    line-height: 26px;
    font-size: 14px;
    font-weight: 700;
}

.press-bar {
    border-radius: 5px;
    .gray-bg {
        height: 9px;
        background-color: rgba(216,216,216,0.5);
        position: relative;
        border-radius: 5px;
        margin-bottom: 15px;
        .color-bg {
            position: absolute;
            left: 0;
            top: 0;
            height: 100%;
            border-radius: 5px;
            background-color: $bg-green;
            &.w70 {
                width: 70%;
            }
        }
    }
    .press-under {
        justify-content: flex-start;
        margin-bottom: 0;
        .left-txt {
            color: $dark-black;
            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;
        }
        .middle-txt {
            font-size: 10px;
            color: $font-black;
            text-transform: uppercase;
        }
        .right-txt {
            color: $dark-black;
            font-size: 12px;
            font-weight: 600;
            line-height: 16px;
        }
    }
}

.setting-wrap {
    position: relative;
    &.open {
        @include icon-setting-green;
        .tip-panel {
            display: block;
        }
        .btn-setting {
          @include icon-setting;
        }
    }
    .tip-panel {
        position: absolute;
        top: -155px;
        right: 60px;
        width: 258px;
        background-color: $white;
        box-shadow: 0 0 16px rgba(0, 31, 38, 0.25);
        padding: 5px 16px;
        border-radius: 10px;
        z-index: 888;
        display: none;
        &:after {
            content: '';
            display: block;
            position: absolute;
            right: -15px;
            top: 50%;
            margin-top: 0;
            width: 0;
            height: 0;
            border-left: 10px solid transparent;
            border-right: 10px solid transparent;
            border-bottom: 12px solid $white;
            transform: rotate(90deg);
        }
        li {
            border-bottom: 1px solid $border-gray;
            &:last-child {
                border-bottom: 0;
            }
        }
    }
    .icon-txt {
        color: $font-black;
        font-size: 16px;
        font-weight: 400;
        line-height: 18px;
        padding: 15px 0 15px 34px;
        display: block;
        &.icon-mark {
            @include icon-mark;
            &.active {
              @include icon-mark-active;
            }
        }
        &.icon-change {
          @include icon-change;
        }
        &.icon-initiate {
          @include icon-initiate;
        }
    }
    &.top-setting {
        display: none;
        margin-left: 15px;
        position: absolute;
        right: 13px;
        top: 10px;
        width: 20px;
        height: 21px;
        @include top-setting;
        z-index: 100;
        &.open {
            @include icon-setting-green;
            .tip-panel {
                display: block;
            }
        }
        .tip-panel {
            right: auto;
            left: -19px;
            top: 37px;
            display: none;
            li {
                &:last-child {
                    border-bottom: 0;
                }
            }
            &:after {
                margin-top: 0;
                top: -10px;
                left: 19px;
                transform: rotate(0deg);
            }
        }
    }
}
.top-area {
    z-index: 9;
    padding-top: 8px;
    .bottom-normal {
        text-align: left;
        margin-bottom: 15px;
        margin-top: 5px;
        .price-txt {
            text-align: left;
        }
    }
}
.bottom-area {
    .phone {
        font-weight: 600;
        font-size: 10px;
        color: $font-black;
        .left-label {
            display: block;
            color: $font-black;
            font-size: 10px;
            font-weight: 400;
        }
    }
}
.edit-status {
    .right-point {
        right: 40px;
    }
    .setting-wrap {
        display: inline-block;
    }
}

/* fix layout issue when smaller than 1500px width */
@media (max-width: $bigger-card-desktop-width) {
  .white-card-panel {
    max-width: none;
    &.current {
      margin-top: 0;
      margin-bottom: 0;
    }
    .gray {
      &.current {
        min-height: 150px;
      }
    }
  }
}

/* fix layout issue when smaller than 767px width */
@media (max-width: $smaller-desktop-width) {
    .setting-wrap {
        &.top-setting {
            .tip-panel {
                left: auto;
                right: -15px;
                &:after {
                    right: 15px;
                    left: auto;
                }
            }
        }
    }
}
/* fix layout issue when smaller than 767px width */
@media (max-width: $max-mobile-width) {
    .setting-wrap {
        &.top-setting {
            .tip-panel {
                left: auto;
            }
        }
    }
}