@import '../../../styles/_variables.scss';

.content {
  &.manage-access-access-dashboard-content {
    padding-left: 267px;
    background-color: $bg-gray;
    height: 100vh;
    max-height: 100vh;
    .mains {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: $white;
      position: relative;
      .title {
        color: $font-black;
        font-size: 14px;
        font-weight: 700;
        position: absolute;
      }
      // .white-panel-wrap
      .white-panel-wrap {
        width: 100%;
        align-items: stretch !important;
      }
      // .two-grid
      .two-grid {
        display: flex;
        flex: 1;
        padding-right: 24px;
        padding-top: 0;
        align-items: flex-start;
        .left-area {
          flex: 1;
        }
        .three-panel {
          display: flex;
          flex-direction: row;
          flex: 1;
          padding: 20px 0;
          margin-right: 0;
          .flex-card {
            flex: 1;
            background-color: $gray-block;
            margin-right: 23px;
            border-radius: 10px;
            position: relative;
            min-height: 155px;
            max-width: 305px;
          }
        }
      }
    }
  }
}

/* fix layout issue when smaller than 1181px width */
@media (max-width: $bigger-desktop-width) {
  .content {
    &.manage-access-access-dashboard-content {
      .mains {
        .two-grid {
          .three-panel {
            .flex-card,
            .white-panel {
              &.current {
                margin-top: 0;
                margin-bottom: 0;
                &:after {
                  bottom: -10px;
                }
              }
              &.gray {
                &.current {
                  margin-bottom: 0;
                  margin-top: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}

/* fix layout issue when smaller than 1181px width */
@media (max-width: $normal-desktop-width) {
  .content {
    &.manage-access-access-dashboard-content {
      .mains {
        // .two-grid
        .two-grid {
          flex-wrap: nowrap;
          flex-direction: column;
          display: block;
          .three-panel {
            flex-wrap: nowrap;
            flex-direction: column;
            margin-right: 0;
            .flex-card {
              margin-right: 0;
              margin-bottom: 15px;
            }
            .flex-card,
            .white-panel {
              max-width: none;
              &.current {
                margin-top: 0;
                margin-bottom: 0;
              }
              .gray {
                &.current {
                  min-height: 150px;
                }
              }
            }
          }
          .contact-boxs {
            margin-left: 0;
            margin-top: 0;
          }
        }
      }
    }
  }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $max-mobile-width) {
  .content {
    &.manage-access-access-dashboard-content {
      .mains {
        padding: 0 20px;
        .title {
          margin-top: 30px;
        }
        .two-grid {
          display: block;
          padding-top: 35px;
          .left-area {
            margin-bottom: 15px;
          }
          .three-panel {
            .flex-card {
              margin-bottom: 15px;
              flex: 1;
              margin-right: 0;
              &:last-child {
                margin-bottom: 0;
              }
              .gray {
                &.current {
                  min-height: 154px;
                }
              }
            }
          }
        }

        // .account-tab-contents
        .account-tab-contents {
          width: calc(100% + 24px);
          overflow-x: auto;
          margin-left: -14px;
          .three-panel {
            margin-top: 10px;
            display: flex;
            flex-direction: row;
            padding-left: 15px;
            .flex-card {
              margin-bottom: 0;
              margin-right: 20px;
              min-width: 264px;
            }
          }
          .white-card-panel {
            &.current {
              height: 100%;
            }
          }
        }
      }
    }
  }
}
