// color variable
$white: #fff;
$bg-gray: #f9f9f9;
$green: #09d1b6;
$font-black: #003d4c;
$gray-block: #f2f2f2;
$dark-black: #001f26;
$lighter-dark-black: #002934;
$dark-green: #1b806d;
$shadow-gray: #dde1e6;
$font-gray: #999999;
$card-gray: #707070;
$bg-green: #00d0b6;
$disabled-color: #979797;
$disabled-bg: #c9c6c1;
$transparent-black-border: rgba(0, 58, 75, 0.25);
$black-border: #003a4b;
$light-border: #114b55;
$border-gray: #e6eaeb;
$black: #000;
$light-gray: #888;
$dark-gray: #333;
$red: #c90000;
$error-red: #d51b1b;
$dark-red: #8a2a2b;
$df-gray: #dfdfdf;
$ligth-blue: #2fb6cf;
$black-blue: #011f27;
$light-blue: #aac2c8;
$light-green-label: #07a792;
$label-gray: #7f9ea5;
$btn-gray: #e5e5e5;
$top-line-gray: #ededed;
$dark-blue: #003e4e;
$cyan: #008c7a;
$orange: #ed6c06;
$border-btn-color: #00a792;