// media query width
$max-tablet-width: 1024px;
$min-desktop-width: 1023px;
$max-mobile-width: 767px;
$smaller-desktop-width: 1182px;
$normal-desktop-width: 1280px;
$bigger-desktop-width: 1430px;
$bigger-card-desktop-width: 1500px;
$bigger-tab-spending-width: 1650px;