@import '../../../styles/_variables.scss';

.icon-line-setting {
  @include icon-line-setting;
  width: 24px;
  height: 24px;
  margin-right: 18px;
  margin-left: 9px;
  max-width: 24px;
  flex: 0 0 24px;
  &.enabled {
    @include green-set;
  }
}