@import '../../../styles/variables';

.get-odyssey-mobile-app {
  height: 100vh;
  width: 100%;
  max-width: 100vw;
  > .row {
    margin: 0;
    height: 100%;
    > div {
      height: 100%;
      padding: 0;
      &.info-col {
        padding: 64px;
        padding-bottom: 74px;
        overflow-y: auto;
        .logo {
          cursor: pointer;
        }
        .main-section {
          .bold,
          .link {
            font-weight: bold;
          }
          .link {
            cursor: pointer;
            color: $light-green-label;
          }
          .top-text {
            margin-top: 40px;
            margin-bottom: 53px;
            display: flex;
            flex-direction: column;
            .title {
              margin-bottom: 22px;
              font-size: 26px;
              line-height: 32px;
              font-family: $gotham-rounded;
              font-weight: 500;
              color: $dark-black;
            }
            .subtitle {
              font-family: $gotham-rounded;
              line-height: 24px;
              color: $font-black;
            }
          }
          .steps {
            margin-bottom: 122px;
            .step {
              margin-bottom: 16px;
              background-color: $gray-block;
              padding: 12px 25px 27px 19px;
              display: flex;
              justify-content: space-between;
              .text-wrapper {
                width: 50%;
                .step-title {
                  font-family: $gotham-rounded;
                  height: 32px;
                  font-weight: 500;
                  color: $dark-blue;
                }
                .step-content {
                  color: $font-black;
                  font-size: 14px;
                }
              }
              .action-wrapper {
                width: 35%;
                min-width: 200px;
                height: 43px;
                margin-top: 23px;
              }
            }
          }
          .bottom-text {
            font-size: 14px;
          }
        }
      }
      &.carousel-col {
        .login-carousel {
          .carousel-indicators {
            display: none;
          }
          .carousel-caption {
            bottom: 0;
            .mobile-preview {
              padding-bottom: 42px;
              > img {
                width: 256px;
              }
              .caption-subtitle {
                margin-top: 22px;
                margin-bottom: 6px;
              }
            }
          }
          .carousel-inner {
            background-color: $dark-black;
            .bottom-background {
              height: 75%;
              .top-decoration-wrapper {
                max-height: unset;
              }
            }
            .carousel-item.mobile-preview-wrapper {
              .bottom-fill {
                background-image: none;
              }
            }
            .benefits {
              margin-bottom: 34px;
              width: 360px;
              .benefit {
                @include background-image('/assets/icon-circle-check-pass.svg', 16px, 16px, 0 16px);
                padding-left: 30px;
                height: 36px;
                font-family: $gotham-rounded;
                font-weight: 500;
                text-align: left;
                display: flex;
                align-items: flex-end;
              }
            }
          }
        }
      }
    }
  }
}

@media (max-width: $max-tablet-width) {
  .get-odyssey-mobile-app {
    > .row {
      > div {
        &.info-col {
          width: 100%;
          flex: unset;
          max-width: none;
          .main-section {
            .steps {
              margin-bottom: 24px;
              .step {
                flex-direction: column;
                .text-wrapper {
                  width: 100%;
                }
              }
            }
          }
        }
      }
    }
  }
}
