@import '../../../styles/_variables.scss';

.most-active-accounts {
    .bottom-link {
        display: block;
        text-align: center;
    }
    .title-bar {
      .btn-question {
        @include question-bold;
        width: 14px;
        height: 14px;
        margin-right: 5px;
      }
    }
    .gray-boxs {
      min-height: 160px;
      border-radius: 10px;
      padding: 10px 7px 25px 14px;
      background-color: $gray-block;
      margin-bottom: 20px;
      .top-bar {
        display: flex;
        justify-content: space-between;
        .title {
          color: $font-black;
          font-size: 14px;
          font-weight: 700;
          left: 16px;
          margin-bottom: 5px;
        }
        .num {
          color: $font-black;
          font-size: 14px;
          font-weight: 600;
          opacity: 0.75;
        }
        .blue-point {
          color: $white;
          font-size: 14px;
          font-weight: 700;
          display: inline-block;
          width: 26px;
          height: 26px;
          border-radius: 100%;
          background-color:#234a5e;
          text-align: center;
          line-height: 26px;
        }
      }
      .center-txt {
        padding: 30px 0 1px;
        color: $dark-green;
        font-size: 26px;
        font-weight: 700;
        text-align: center;
        .little-txt {
          color: $dark-blue;
          font-size: 16px;
        }
      }
      .bottom-txt {
        opacity: 0.75;
        text-align: center;
        color: $dark-black;
        font-size: 12px;
        font-weight: 600;
      }
    }
}

