@import '../../../styles/_variables.scss';

.meeting_mode_step {
  .border-boxs {
      border-radius: 6px;
      border: 1px solid #d3d3d3;
      background-color: #ffffff;
      padding: 22px;
      align-items: flex-start;
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
  
      .mt20 {
          margin-top: 20px;
      }
  
      .btn-edit {
          @include icon-green-edit;
          width: 25px;
          height: 25px;
          align-items: flex-start;
      }
  
      .lefts {
          align-items: flex-start;
          flex: 1;
  
          .color-point {
              width: 24px;
              height: 24px;
              border-radius: 100%;
              text-align: center;
              font-size: 14px;
              line-height: 24px;
              display: inline-block;
              background-color: $green;
              color: $font-black;
              font-weight: 700;
              margin-right: 15px;
              margin-top: 2px;
          }
  
          .right-txt {
            flex: 1;
            .titles {
              font-weight: 700;
              color: $dark-black;
              font-size: 18px;
              font-family: $gotham-rounded;
              margin-bottom: 20px;
            }
            .meeting_mode_row {
              font-weight: normal;
              color: $font-black;
              font-size: 14px;
              font-family: $open-sans;
              margin-bottom: 20px;
              .radio-group {
                display: flex;
                flex-direction: row;
                margin-left: 20px;
                .radio-wrap {
                  margin: 10px 20px;
                }
              }
            }
            .meeting_way_row {
              .radio-group {
                display: flex;
                flex-direction: row;
                margin-left: 20px;
                .radio-wrap {
                  margin: 10px 20px;
                }
              }
            }
          }
  
          .three-area {
              margin-top: 10px;
              display: flex;
              flex-wrap: wrap;
  
              .items {
                  flex: 0 0 33%;
                  max-width: 33%;
  
                  .label-txt {
                      opacity: 0.5;
                      color: $font-black;
                      font-size: 10px;
                      font-weight: 600;
                      text-transform: uppercase;
                  }
  
                  .values {
                      color: $font-black;
                      font-size: 14px;
                      font-weight: 500;
                      line-height: 18px;
                      font-family: $gotham-rounded;
                      max-width: 419px;
                  }
              }
          }
      }
  }
}