@import '../../../styles/_variables.scss';

.alert-select-content {
  min-height: 600px;
  box-shadow: 0 5px 12px $shadow-gray;
  border-radius: 6px;
  background-color: $white;
  padding: 14px 20px;
  flex: 0 0 305px;
  max-width: 305px;

  .black-title {
    color: $font-black;
    font-size: 16px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 30px;
  }
  .tab-list {
    li {
      margin-bottom: 5px;
    }
    .tab-bar {
      display: block;
      padding: 13px 16px;
      border-radius: 4px;

      color: $dark-green;
      font-size: 14px;
      font-weight: 700;
      &.current {
        color: $dark-black;
        background-color: $gray-block;
      }
    }
  }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $min-desktop-width) {
  .alert-select-content {
    max-width: 100%;
    min-height: auto;
    max-height: 78px;
  }
}
/* fix layout issue when smaller than 768px width */
@media (max-width: $max-mobile-width) {
  .top-select {
    &.visa-select {
      .select-account-dropdown {
        .dropdown-toggle {
          &.btn {
            &.btn-success {
              width: 100%;
              border: 1px solid $black;
              display: flex;
              color: $font-black;
              align-items: center;
              &:focus,
              &:active {
                border: 1px solid $black;
                display: flex;
                color: $font-black;
                align-items: center;
              }
              .icons {
                width: 20px;
                height: 20px;
                display: inline-block;
                vertical-align: middle;
                margin-right: 8px;
                &.icon-visa {
                  @include logo-visa;
                  width: 23px;
                }
              }
            }
          }
        }
        .dropdown-menu {
          &.show {
            height: auto;
            width: 100%;
          }
        }
      }
    }
  }
  .alert-select-content {
    margin: 0;
    box-shadow: none;
    border-bottom: 1px solid $border-gray;
    max-height: 78px;
  }
}
