@import '../../../styles/_variables.scss';

.modal-default {
    &.add-new-user-modal {
        .modal-mains {
            width: 795px;
            box-shadow: 0 0 16px rgba(0, 0, 0, 0.5);
            border-radius: 10px;
            padding: 0;
            .title-area {
                margin-bottom: 0;
                padding: 28px 24px;
                .blue-title {
                    color: $font-black;
                    font-size: 20px;
                    font-weight: 500;
                    line-height: 24px;
                }
            }
        }
        .inputs {
            border: 1px solid $black-border;
            height: 50px;
        }
        .btn-close {
            @include btn-close;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 25px;
            top: 25px;
        }
        .modal-info {
            padding: 19px 0 10px 0;
            border-top: 1px solid $border-gray;
            display: flex;
            flex-wrap: wrap;
        }
        .row-line {
            padding: 0 25px;
            margin-bottom: 20px;
            flex: 0 0 50%;
            &.full-width {
                flex: 0 0 100%;
            }
            .blue-txt {
                font-weight: normal;
            }
            .items {
                flex: 1;
                &:last-child {
                    margin-right: 0;
                }
                .label-txt {
                    color: $font-black;
                    font-size: 14px;
                    margin-bottom: 8px;
                    font-weight: 700;
                    &.red {
                        color: #f00;
                    }
                }
            }
        }
        .bottom-btns {
            margin: 0 26px 0 0;
            padding: 20px 30px 23px;
            justify-content: flex-start;
            border-top: 1px solid $border-gray;
            .btn {
                min-width: 152px;
            }
        }
    }
}

/* fix layout issue when smaller than 992px width */
@media (max-width: $min-desktop-width) {
    .modal-default {
        &.add-new-user-modal {
            .modal-mains {
                width: 675px;
                .title-area {
                    margin-bottom: -7px;
                }
            }
            .row-line {
                flex: 0 0 100%;
            }
            .bottom-btns {
                flex-wrap: wrap;
                justify-content: center;
                .btn-green {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $max-mobile-width) {
    .modal-default {
        &.add-new-user-modal {
            .modal-mains {
                margin: 17px auto;
                width: 95%;
            }
        }
    }
}