@import '../../../styles/_variables.scss';

.card-right-boxs {
  flex: 1;
  margin-left: 24px;
  box-shadow: 0 5px 12px $shadow-gray;
  border-radius: 6px;
  background-color: $white;
  margin-right: 24px;
  .title-line-bar {
    padding: 33px 30px;
    border-bottom: 1px solid $border-gray;
    .icon-card {
      @include icon-card;
      width: 39px;
      height: 32px;
      margin-right: 10px;
    }
    .icon-pin-number {
      @include icon-pin-number;
      width: 32px;
      height: 32px;
      margin-right: 10px;
    }
    .txt {
      color: $font-black;
      font-size: 16px;
      font-weight: 700;
      line-height: 22px;
    }
  }
  .debit-card-list {
    padding: 0 30px;
    .row-line {
      padding: 13px 0;
      min-height: 68px;
      border-bottom: 1px solid $border-gray;
      .lefts {
        display: flex;
        align-items: center;
        .icons {
          flex: 0 0 24px;
          max-width: 24px;
          margin-right: 10px;
          width: 24px;
          height: 24px;
          &.icon-lock {
            @include icon-lock;
          }
          &.icon-block {
            @include icon-block;
          }
          &.icon-reveal {
            @include icon-reveal;
          }
          &.icon-channel {
            @include icon-channel;
          }
        }
        .right-txt {
          .blue-txt {
            color: $font-black;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
          }
          .green-txt {
            color: $dark-green;
            font-size: 14px;
            font-weight: 400;
            line-height: 19px;
          }
        }
      }
      .rights {
        display: flex;
        align-items: center;
        .gray-bold {
          color: $dark-black;
          font-size: 14px;
          font-weight: 500;
          line-height: 14px;
          margin-right: 15px;
        }
        .icon-setting {
          @include icon-setting;
          width: 24px;
          height: 24px;
          margin-right: 10px;
          margin-left: 10px;
        }
        .btn-change {
          width: 82px;
          height: 33px;
          color: $font-black;
          font-size: 12px;
          font-weight: 700;
          min-width: auto;
          line-height: 33px;
        }
      }
    }
  }
  //.check-round-wrap
  .check-round-wrap {
    display: inline-block;
    vertical-align: middle;
    height: 28px;
    input[type='checkbox'] {
      display: none;
    }
    input[type='checkbox'] + label {
      font-size: 14px;
      color: $dark-gray;
      display: inline-block;
      font-weight: normal;
      padding-left: 42px;
      padding-top: 27px;
      text-align: left;
      position: relative;
      line-height: 27px;
      text-transform: none;
      cursor: pointer;
    }
    label::before {
      content: '';
      display: block;
      vertical-align: middle;
      margin-right: 5px;
      width: 42px;
      height: 27px;
      border-radius: 15px;
      background-color: #796E65;
      position: absolute;
      left: 0;
      top: 0;
    }
    label::after {
      content: '';
      position: absolute;
      top: 3px;
      left: 3px;
      display: block;
      width: 21px;
      height: 21px;
      background-color: $white;
      border-radius: 100%;
      transition: all 0.25s ease-in-out;
    }
    input[type='checkbox']:checked + label::before {
      background-color: $bg-green;
    }
    input[type='checkbox']:checked + label::after {
      left: 18px;
    }
  }
  .setting-wrap {
    display: inline-block;
    &.open {
      .tip-panel {
        display: block;
      }
    }
    .tip-panel {
      display: none;
      padding: 6px 16px 16px 16px;
      &.activate-debit-card {
        top: -125px;
      }
      &.reveal-pin-cvv {
        top: -150px;
      }
      .top-txt {
        border-bottom: 1px solid $border-gray;
        .icon-txt {
          display: flex;
          padding-left: 0;
          .icon-lock {
            max-width: 24px;
            flex: 0 0 24px;
            margin-right: 12px;
          }
          .txt {
            color: $font-black;
            font-size: 14px;
            font-weight: 400;
          }
        }
        .icon-lock {
          @include icon-gray-lock;
          width: 24px;
          height: 24px;
        }
      }
      .otp-boxs {
        .otp-title {
          padding: 9px 0;
          .lefts {
            color: $font-black;
            font-size: 14px;
            font-weight: 700;
          }
          .right-link {
            color: $dark-green;
            font-size: 14px;
            font-weight: 700;
            text-decoration: underline;
          }
        }
        .inputs {
          input {
            letter-spacing: 10px;
          }
        }
        .expires-txt {
          color: $font-black;
          font-size: 14px;
          font-weight: 400;
          line-height: 18px;
          margin-bottom: 13px;
          .bold {
            font-weight: 700;
          }
        }
      }
      .bottom-btns {
        padding: 16px 0;
        padding-right: 15px;
        border-top: 1px solid $border-gray;
        margin-top: 15px;
        .btn-green {
          min-width: 100px;
        }
        .green-link {
          color: $green;
          font-size: 16px;
          font-weight: 700;
        }
      }
    }
  }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $smaller-desktop-width) {
  .card-right-boxs {
    margin: 20px 0 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
}
/* fix layout issue when smaller than 768px width */
@media (max-width: $max-mobile-width) {
  .card-right-boxs {
    margin: 20px 0 0;
    .debit-card-list {
      padding: 0 10px;
      .row-line {
        flex-direction: column;
        .lefts {
          align-self: flex-start;
        }
        .rights {
          margin-top: 10px;
          align-self: flex-end;
        }
      }
    }
  }
}
