@import '../../../styles/_variables.scss';

.white-panel {
    .left {
        display: flex;
        flex-wrap: wrap;
        .top-title {
            flex: 0 0 100%;
        }
        .btn-green {
            margin-top: 10px;
        }
    }
    .icon-search {
        @include icon-search;
        width: 24px;
        height: 24px;
        transform: rotateY(180deg);
    }
    .btn-filter {
        @include btn-filter;
        margin-left: 10px;
        width: 24px;
        height: 24px;
    }
    .mt-10 {
      margin-top: 30px;
    }
}

.search-none {
    display: flex;
    align-items: center;
    height: calc(100% - 64px);
    justify-content: center;
    .center-mains {
        text-align: center;
        img {
            width: 38px;
            height: auto;
            display: block;
            margin: 0  auto 15px;
            transform: rotate(-90deg);
        }
        .txt {
            color: $font-black;
            font-size: 14px;
            line-height: 24px;
            margin-bottom: 35px;
        }

    }
}
.seach-module {
    margin-bottom: 20px;
    .inputs {
        border: 0;
        border-bottom: 1px solid $black;
        border-radius: 0;
        padding: 0 40px;
        position: relative;
        height: 35px;
        .icons {
            width: 30px;
            height: 30px;
            position: absolute;
            &.icon-search {
                left: 0;
                top: 0;
            }
            &.icon-close {
                right: 0;
                top: 0;
                @include btn-blue-close;
            }
        }
        .btn-filter {
            position: absolute;
            right: 0;
            top: 0;
        }
    }
}
// .some-cols
.some-cols {   
    .group {
         .list-row {
            margin-bottom: 18px;
            display: flex;
            justify-content: space-between;
            &.border-bottom {
                border-bottom: 1px solid $gray-block;
                padding-bottom: 15px;
            }
            .left-area {
                display: flex;
                align-items: flex-start;
                flex: 0 0 60%;
                max-width: 60%;
                .gray-time {
                    opacity: 0.9;
                    color: $font-black;
                    font-size: 12px;
                    font-weight: 400;
                }
                .img-boxs {
                    width: 20px;
                    margin-right: 22px;
                    height: 20px;
                }
            }
            .middle-area {
                flex: 0 0 20%;
                max-width: 20%;
                .number {
                    margin-left: 5px;
                    font-size: 14px;
                    font-weight: 700;
                    &.red {
                        color: $dark-red;
                    }
                    &.green {
                        color: $dark-green;
                    }
                }
            }
            .right-area {
                flex: 0 0 20%;
                max-width: 20%;
                text-align: right;
                display: flex;
                justify-content: flex-end;
                .number {
                    color: $font-black;
                    font-size: 14px;
                    font-weight: 700;
                }
                .gray-num {
                    color: $font-black;
                    font-size: 12px;
                    font-weight: 400;
                    opacity: .9;
                }
            }
        }
    }
}
.bottom-link {
    display: block;
    text-align: center;
    .link-view {
        color: $dark-green;
    }
}

/* fix layout issue when smaller than 767px width */
@media (max-width: $max-mobile-width) {
    .search-none {
        min-height: 221px;
        .center-mains {
            margin-bottom: 120px;
        }
    }
}