@import '../../styles/variables';

.reviewable-form {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  .select-payment,
  .select-payee {
    .base-form {
      flex-direction: row;
      flex-wrap: wrap;
      > .row-line {
        margin-right: 20px;
        width: calc(33% - 20px);
      }
    }
  }
  .current-step {
    flex-grow: 1;
    .form-step {
      height: 100%;
      display: flex;
      > * {
        width: 100%;
      }
    }
  }
  .important-information.modal-dialog {
    max-width: unset !important;
    margin-top: 0;
    padding: 0;
    .modal-title {
      margin-bottom: 16px;
      span {
        font-size: 16px;
      }
    }
  }
}

@media (max-width: $max-tablet-width) {
  .reviewable-form {
    .select-payment,
    .select-payee {
      .base-form {
        flex-direction: column;
        > .row-line {
          margin-right: 20px;
          width: 100%;
        }
      }
    }
    .previous-steps {
      display: none;
    }
    &.final-step {
      .previous-steps {
        display: flex;
        flex-direction: column;
      }
    }
  }
}
