@import '../../styles/_variables.scss';

.modal-default {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.3);
    left: 0;
    top: 0;
    z-index: 100000;
    overflow-y: auto;
    &.general-confirm-modal {
        .modal-mains {
            width: 550px;
            background-color: $font-black;
            border-radius: 10px;
            padding: 0;
            .title-area {
                padding: 25px;
                border-bottom: 1px solid $light-border;
                margin-bottom: 0;
                .blue-title {
                    color: $white;
                    font-size: 20px;
                    line-height: 24px;
                    font-weight: 300;
                }
            }
        }
        .btn-close {
            @include white-close;
            width: 20px;
            height: 20px;
            position: absolute;
            right: 25px;
            top: 25px;
        }
        .row-line {
            padding: 0 25px;
            .blue-txt {
                font-weight: normal;
            }
            .center-info {
                text-align: center;
                padding: 38px 45px;
                .done-icons {
                    margin-bottom: 18px;
                    img {
                        width: 100px;
                        height: auto;
                    }
                }
                .white-txt {
                    color: $white;
                    font-size: 16px;
                    font-weight: 400;
                    .bold-txt {
                        font-weight: 700;
                    }
                }
            }
        }
        .bottom-btns {
            margin: 0 26px;
            padding: 20px 30px 23px;
            justify-content: center!important;
            border-top: 1px solid $light-border;
            .btn {
                min-width: 89px;
            }
        }
    }
}

/* fix layout issue when smaller than 992px width */
@media (max-width: $min-desktop-width) {
    .modal-default {
        &.general-confirm-modal {
            .modal-mains {
                width: 667px;
                .title-area {
                    margin-bottom: -7px;
                }
            }
            .bottom-btns {
                flex-wrap: wrap;
                flex-direction: column;
                justify-content: center;
                .btn-green {
                    margin-bottom: 15px;
                }
            }
        }
    }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $max-mobile-width) {
    .modal-default {
        &.general-confirm-modal {
            .modal-mains {
                margin: 17px auto;
                width: 95%;
                
            }
            .bottom-btns {
                .links {
                    &.green {
                        padding: 0;
                    }
                }
            }
        }
    }
}