@import '../../../styles/_variables.scss';

.modal-default {
  &.create-edit-budget-modal {
    .modal-mains {
      width: 473px;
      border-radius: 10px;
      padding: 16px;
      .title-area {
        padding-bottom: 14px;
        border-bottom: 1px solid $border-gray;
        margin-bottom: 18px;
        .blue-title {
          font-size: 14px;
          display: flex;
          justify-content: space-between;

          .right-close {
            @include btn-close;
            width: 20px;
            height: 20px;
          }
        }
      }
    }
    .btn-close {
      @include btn-close;
      width: 20px;
      height: 20px;
      position: absolute;
      right: 25px;
      top: 25px;
    }
    .icon-question {
      @include icon-question-little;
      width: 20px;
      height: 20px;
    }
    .modal-info {
      padding: 0 16px;
    }
    .row-line {
      margin-bottom: 20px;
      .title {
        color: $font-black;
        font-size: 14px;
        line-height: 17px;
        margin-bottom: 10px;
        font-weight: 600;
        .icons {
          margin-right: 10px;
          .img-icon {
            width: 20px;
            height: 20px;
            &.bill-icon {
              width: 17px;
            }
          }
        }
      }
      .date-boxs {
        width: 100%;
      }
      .inputs {
        padding-right: 40px;
        border: 1px solid $black-border;
        border-radius: 2px;
        height: 50px;
        position: relative;
        width: 100%;
      }
    }
    .bottom-btns {
      padding-top: 16px;
      border-top: 1px solid $border-gray;
      .btn-green {
        min-width: 144px;
        color: $white;
        height: 48px;
        line-height: 48px;
        border-radius: 24px;
      }
      .green-link {
        text-decoration: none;
        margin-left: 40px;
        font-size: 16px;
        color: $green;
      }
    }
  }
}

/* fix layout issue when smaller than 1024px width */
@media (max-width: 1024px) {
  .modal-default {
    &.create-edit-budget-modal {
      .modal-mains {
        width: 667px;
      }
    }
  }
}

/* fix layout issue when smaller than 768px width */
@media (max-width: $max-mobile-width) {
  .modal-default {
    &.create-edit-budget-modal {
      .modal-mains {
        margin: 17px auto 0;
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        border-radius: 6px;
        padding: 29px 20px;
        .title-area {
          padding: 0 15px 20px;
          position: relative;
        }
        .mobile-close {
          @include btn-close;
          width: 20px;
          height: 20px;
          position: absolute;
          right: 0;
          top: 0;
        }
      }
      .icon-question {
        background-size: 14px 14px;
      }
      .bottom-btns {
        padding: 23px 10px 0;
        .btn-green {
          min-width: 100%;
        }
        .green-link {
          display: none;
        }
      }
    }
  }
}
