@import '../../../../styles/variables';

.base-modal.reset-passcode-success-modal {
  .modal-body {
    .flex-list {
      background-color: $dark-black;
      margin-bottom: -24px;
      .item {
        &.first {
          margin-bottom: 0;
        }
        &:not(.first) {
          span.value {
            height: 100%;
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 16px;
            color: #00a793;
            font-weight: bold;
            span {
              cursor: pointer;
            }
          }
        }
      }
    }
  }
  .modal-footer {
    .btn.btn-primary {
      width: unset;
    }
  }
}
